{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="flex:1;">
        <h1>Profile page for user {{ user }}</h1>
        <br/>
        <a id="logout" href="{{ path('user_update') }}">{{ 'edit.profile'|trans }}</a>
        <br/>
        <a id="logout" href="{{ path('user_update_password') }}">{{ 'update.password'|trans }}</a>
        <br />
        <a href="{{ path('user_homepage') }}">{{ 'return.to.homepage'|trans }}</a>
    </div>
{% endblock %}
