<div id="header" class="container">
    <div class="header clearfix">
        <div class="logo-container">
            <a href="#">
                <img id="logo" height="55" width="55" src="{{ asset('images/logo.png') }}"/>
                <h3 class="text-muted" style="display: inline; font-size: 25px;">IZINT</h3>
            </a>
        </div>

        <nav id="navigation-bar">
            <ul class="nav nav-pills pull-right">
                {% if is_granted('ROLE_USER') %}
                    <li role="presentation"><a href="#">{{ 'homepage'|trans }}</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" onclick="void(0)">{{ 'events'|trans }}</a>
                        <ul class="dropdown-menu" style="text-align: center;">
                            <li role="presentation"><a href="#">{{ 'create.event'|trans }}</a></li>
                            <li role="presentation"><a href="#">{{ 'my.events'|trans }}</a></li>
                            {% if is_granted('ROLE_OFFICER') %}<li role="presentation"><a href="{{ path('officer_events') }}">{{ 'event.handling'|trans }}</a></li>{% endif %}
                            <li role="presentation"><a href="#">{{ 'all.events'|trans }}</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ 'hall.of.fame'|trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="text-align: center;">
                            <li role="presentation"><a href="#">{{ 'users'|trans }}</a></li>
                            <li role="presentation"><a href="#">{{ 'officers'|trans }}</a>
                            <li role="presentation"><a href="#">{{ 'awards'|trans }}</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ 'profile'|trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="text-align: center;">
                            <li role="presentation"><a href="#">{{ 'view.profile'|trans }}</a></li>
                            <li role="presentation"><a href="#">{{ 'my.comments'|trans }}</a></li>
                            <li role="presentation"><a id="inbox-menu-item" href="#">{{ 'inbox'|trans }}</a></li>
                            <li role="presentation"><a href="#">{{ 'sent'|trans }}</a></li>
                        </ul>
                    </li>
                    <li role="presentation"><a href="{{ path('contact') }}">{{ 'header.nav.contact'|trans }}</a></li>
                    <li role="presentation"><a href="{{ path('about') }}">{{ 'header.nav.about'|trans }}</a></li>
                    <li role="presentation"><a id="logout" href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a></li>
                {% else %}
                    <li role="presentation"><a href="{{ path('fos_user_security_login') }}">{{ 'header.nav.login'|trans }}</a></li>
                    <li role="presentation"><a href="{{ path('contact') }}">{{ 'header.nav.contact'|trans }}</a></li>
                    <li role="presentation"><a href="{{ path('about') }}">{{ 'header.nav.about'|trans }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
