{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pages/about.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="flex:1; text-align: center;">
        <div id="owner">
            <div id="owner-info">
                <img src="{{ asset('images/about.png') }}"/>
                <p class="mt-15">{{ 'about.creators'|trans }}</p>
                <p class="owner-position">{{ 'about.creators.position'|trans }}</p>
            </div>
            <div id="owner-quote" class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        "{{ 'about.details'|trans|raw }}"
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
{% endblock %}