{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="flex:1;">
        {% if form is defined %}
            <div class="form-container">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.plainPassword) }}
                <div class="buttons-container">
                    <button>{{ 'update'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        {% else %}
            <p>{{ 'password.updated.successfully'|trans }}</p><br />
            <a href="{{ path('fos_user_profile_show') }}">{{ 'return.to.profile'|trans }}</a>
        {% endif %}
    </div>

    <br />
    <a href="{{ path('fos_user_profile_show', {id: app.user.id}) }}">{{ 'back'|trans }}</a>
{% endblock %}
