{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pages/register.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="flex:1;">
        {% if form is defined %}
            <div class="form-container">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.description) }}
                <div class="buttons-container">
                    <button>{{ 'create.account'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        {% else %}
            {{ error|trans }}<br /><br />
            <a href="{{ path('register_user') }}">{{ 'try.again'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}
